{% macro workingList(items) %}
  <ul class="pl-0 space-y-6 list-none">
    {% for item in items %}
      <li class="grid gap-2">
        <div class="text-gray-500 font-mono">{{ loop.index | padStart(2, '0') }}</div>
        <div class="font-mono">
          {% if item.content.includes('<a') %}
            {{ item.content | replace('</a>', '<span class="inline-block ml-1 underline">↗</span></a>') | safe }}
          {% else %}
            {{ item.content | safe }}
          {% endif %}
        </div>
      </li>
    {% endfor %}
  </ul>
{% endmacro %}
