section.header {
	font-weight: 800;
	line-height: 1.4;
	font-size: 4vw;
	background-color: black;
	color: white;
}

section.header a {
	text-decoration: none;
	box-shadow: none;
}

section.header a:hover {
	box-shadow: 0 5px 0 0 currentColor;
	transition: all 0.3s ease-in-out;
}

section.header a:nth-of-type(1n) {
	color: var(--red);
}

section.header a:nth-of-type(2n) {
	color: var(--yellow);
}

section.header a:nth-of-type(3n) {
	color: var(--orange);
}

section.header a:nth-of-type(4n) {
	color: var(--green)
}

section.header a:nth-of-type(5n) {
	color: var(--blue);
}

header > div.nav > * {
	color: var(--orange);
	font-size: 30px;
	text-decoration: none;
	box-shadow: none;
	padding-right: 20px;
	display: inline;
}

header > div.nav {
	font-family: inherit;
	margin: auto;
}

header > div.nav > li > a {
	box-shadow: none;
	text-transform: uppercase;
	font-weight: 400;
}

header > div.nav > li > a::after {
	content: ".";
}

header > div.nav > li > a:hover {
	box-shadow: 0 5px 0 0 currentColor;
	transition: all 0.3s ease-in-out;
}

.triangle {
  position: relative;
  background: black;
}

.triangle::before {
  content: '';
  position: absolute;
  bottom: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 50px 50px 0 50px;
  border-color: black transparent transparent transparent;
  left: 50%;
  transform: translateX(-50%) translateY(100%);
}

section.cta {
	background-color: white;
	color: black;
	font-size: 25px;
}

.email-address {
	font-weight: 800;
}

.row {
  display: flex;
  flex-wrap: wrap;
	margin-top: 50px;
}

.left {
	padding-right: 25px;
}

.right {
	text-align: right;
}

.left, .right {
	flex: 50%;
}

.bold {
	font-weight: 800;
}

.mailbox {
  background-color: var(--cyan);
  border: 3px solid black;
  padding: 40px 0;
  text-align: center;
  font-weight: 800;
}

.questions p {
  padding-bottom: 20px;
}


section.services {
  color: black;
  background-color: white;
  font-family: var(--standardfont) !important;
}

section.services h1 {
  color: var(--orange);
  font-family: var(--standardfont) !important;
}

footer {
  color: white;
}

.services-container {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  height: 100%;
}
.item {
  width: 40%;
}
