body {
  --bg: white;
  --textNormal: #222;
  --textTitle: #222;
  --textLink: #005a87;
	--hr: hsla(0, 0%, 0%, 0.2);
	--caption: rgba(0, 0, 0, 0.5);

  background-color: var(--bg);
  text-align: center;
  font-family: nunito-sans,-apple-system,BlinkMacSystemFont,segoe ui,Roboto,Oxygen-Sans,Ubuntu,Cantarell,helvetica neue,sans-serif;
}

.container {
  max-width: 47em;
  overflow: hidden;
  padding: 0 2.5em;
  margin: 0 auto;
  padding-bottom: 2.5em;
}

p {
  font-size: 18px;
}

/* body.dark {
  -webkit-font-smoothing: antialiased;

  --bg: #282D3C;
  --textNormal: rgba(255, 255, 255, 0.88);
  --textTitle: white;
  --textLink: #FF6C2F;
	--hr: hsla(0, 0%, 100%, 0.2);
	--caption: rgba(255, 255, 255, 0.5);
} */

blockquote {
	color: inherit !important;
	border-left-color: var(--textLink)
}

/* body.dark > blockquote > * {
	color: var(--textLink);
}

body.dark > blockquote {
	color: var(--textNormal) !important;
} */

.nav {
	margin: 0;
	text-align: center;
	padding: 0;
	padding-top: 1em;
}

.nav > ul > li {
	display: inline;
	padding-right: 10px;
}

div.image {
	text-align: center;
	margin-bottom: 1.75rem;
}

div.image > img {
	margin-bottom: 0px !important;
}

div.image > span + em, div.image > img + em, div.image > a + em {
	line-height: 1.4;
	margin: 0 auto;
	margin-top: 10px;
	color: var(--caption);
	font-size: 12px;
	display: block;
}

pre {
	overflow-x: auto;
	-webkit-overflow-scrolling: touch;
}

#projects li > a:first-child {
  font-weight: bold;
  font-size: 1.2em;
}
