body {
  --bg: #FFF;
  --textNormal: #222;
  --textTitle: #222;
  --textLink: #005a87;
  --textHoverLink: #003a57;
	--hr: hsla(0, 0%, 0%, 0.2);
	--caption: rgba(0, 0, 0, 0.5);

  background-color: var(--bg);
  text-align: center;
  font-family: nunito-sans,-apple-system,BlinkMacSystemFont,segoe ui,Roboto,Oxygen-Sans,Ubuntu,Cantarell,helvetica neue,sans-serif;
}

.container {
  max-width: 47em;
  overflow: hidden;
  padding: 0 2.5em;
  margin: 0 auto;
  padding-bottom: 2.5em;
}

@media only screen
and (min-device-width: 320px)
and (max-device-width: 480px)
and (-webkit-min-device-pixel-ratio: 2) {
  .container {
    padding-left: 0 !important;
    padding-right: 0 !important;
    margin-right: 0 !important;
    margin-left: 0 !important;
  }

  .blogPostTitle {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
}

a {
  text-decoration: none;
  transition: all 0.5s ease-in-out;
  color: var(--textLink);
}

a:visited { text-decoration: none; color: var(--textLink) }
a:hover { text-decoration: none; color: var(--textLink) }
a:focus { text-decoration: none; color: var(--textLink) }
a:hover, a:active { text-decoration: none; color: var(--textLink) }

a:hover {
  color: var(--textHoverLink);
}

p, li {
  font-size: 18px;
  line-height: 1.5em;
  text-rendering: optimizelegibility !important;
  letter-spacing: .03em;
}

.blogPostTitle ~ div > h2, h3, h4, h5 {
  margin-top: 1.45rem;
}

blockquote {
	color: inherit !important;
	border-left-color: var(--textLink)
}

.nav {
	margin: 0;
	text-align: center;
	padding: 0;
}

.nav > ul > li {
	display: inline;
	padding-right: 10px;
}

div.image {
	text-align: center;
  margin-bottom: 1.75rem;
}

div.image > img {
	margin-bottom: 0px !important;
}

div.image > span + em, div.image > img + em, div.image > a + em {
	line-height: 1.4;
	margin: 0 auto;
	margin-top: 10px;
	color: var(--caption);
	font-size: 12px;
	display: block;
}

pre {
	overflow-x: auto;
	-webkit-overflow-scrolling: touch;
}

#projects li > a:first-child {
  font-weight: bold;
  font-size: 1.2em;
}

.container > .archiveGroupHeader:first-child {
  margin-top: 0;
}

.archiveGroupHeader {
  font-weight: 600;
  font-size: 2.5em;
  margin: 0.75em;
  margin-top: 1.5em;
}

.blogPostTitle {
  font-size: 2.5em;
  margin: 2em;
  margin-top: 0;
}

/* Copied from typography */
a.gatsby-resp-image-link {
  box-shadow: 'none',
}
a.anchor {
  box-shadow: 'none',
}

a.anchor svg[aria-hidden="true"] {
  stroke: 'var(--textLink)',
}
hr {
  background: 'var(--hr)',
}

.container > div > ol, .container > div > ul, .blogPostTitle ~ div > ol, .blogPostTitle ~ div > ul {
  text-align: left;
}

.gatsby-highlight {
  text-align: left;
}
