body {
  --bg: white;
  --textNormal: #222;
  --textTitle: #222;
  --textLink: #FF6C2F;
  --hr: hsla(0, 0%, 0%, 0.2);

  background-color: var(--bg);
}

body.dark {
  -webkit-font-smoothing: antialiased;

  --bg: #282D3C;
  --textNormal: rgba(255, 255, 255, 0.88);
  --textTitle: white;
  --textLink: #FF6C2F;
  --hr: hsla(0, 0%, 100%, 0.2);
}

body.dark > blockquote > * {
	color: var(--textLink);
}

.nav {
	list-style-type: none;
	margin: 0;
	text-align: center;
	padding: 0;
	padding-top: 1em;
	font-family: Montserrat,sans-serif;
}

.nav > li {
	display: inline;
	padding-right: 10px;
}
