@font-face {
  font-family: SpaceGroteskBold;
  src: url("../../content/assets/SpaceGrotesk-Bold.ttf");
}

body {
  --bg: #fff;
  --textNormal: #222;
  --textTitle: #222;
  --textLink: #005a87;
  --textHoverLink: #003a57;
  --hr: hsla(0, 0%, 0%, 0.2);
  --caption: rgba(0, 0, 0, 0.5);

  --color-bg: #ffffff;
  --color-bg-offset: #f7f7f9;
  --color-text: #373a3c;
  --color-text-offset: #818a91;
  --color-border: #eceeef;
  --color-primary: #00b8ff;
  --color-primary-offset: #0093cc;
  --color-secondary: #faae2b;

  background-color: var(--bg);
  font-family: nunito-sans, -apple-system, BlinkMacSystemFont, segoe ui, Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, helvetica neue, sans-serif;
}

::selection {
  background: var(--color-secondary);
}

h1,
h2,
h3,
h4,
h5,
h6,
.font {
  font-family: SpaceGroteskBold, nunito-sans, -apple-system, BlinkMacSystemFont,
    segoe ui, Roboto, Oxygen-Sans, Ubuntu, Cantarell, helvetica neue, sans-serif;
}

hr.section-break {
  border: 0;
  border-left: 0.7rem solid var(--textNormal);
  height: 0.7rem;
  margin: 3rem 0;
  display: inline-block;
}

.text {
  margin-right: 0.4rem;
  font-weight: normal;
  display: inline-block;
  margin-top: 0;
}

.styled-link {
  font-size: 0.7rem;
  margin-left: 0.4rem;
  text-decoration: underline;
}

.container {
  max-width: 47em;
  overflow: hidden;
  padding: 0 2.5em;
  margin: 0 auto;
  padding-bottom: 2.5em;
}

@media only screen and (max-device-width: 480px) {
  .container {
    padding-left: 0 !important;
    padding-right: 0 !important;
    margin-right: 0 !important;
    margin-left: 0 !important;
  }

  .blogPostTitle {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }

  .wide-container {
    flex-wrap: wrap;
  }

  .nav {
    width: 100%;
    text-align: center;
  }
}

.wide-container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}

a {
  text-decoration: none;
  transition: all 0.5s ease-in-out;
  color: var(--textLink);
}

/* a:visited {
  text-decoration: none;
  color: var(--textLink);
} */
a:hover {
  text-decoration: none;
  color: var(--textLink);
}
a:focus {
  text-decoration: none;
  color: var(--textLink);
}
a:hover,
a:active {
  text-decoration: none;
  color: var(--textLink);
}

a:hover {
  color: var(--textHoverLink);
}

p,
li {
  font-size: 18px;
  line-height: 1.5em;
  text-rendering: optimizelegibility !important;
  letter-spacing: 0.03em;
}

.blogPostTitle ~ div > h2,
h3,
h4,
h5 {
  margin-top: 1.75rem;
}

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}

.nav {
  margin: 0;
  text-align: right;
  padding: 0;
  width: 60%;
}

.nav > ul > li {
  display: inline;
  padding-right: 15px;
}

@media (max-width: 768px) {
  .wide-container {
    flex-direction: column;
    flex-wrap: wrap;
    align-items: baseline;
  }

  .wide-container > h1 {
    width: 100%;
  }

  .nav {
    width: 100%;
    text-align: left;
    margin-top: 0.5rem;
  }

  .nav > ul {
    margin-left: 0;
  }

  .nav > ul > li {
    font-size: 0.9rem;
  }
}

div.image {
  text-align: center;
  margin-bottom: 1.75rem;
}

div.image > img {
  margin-bottom: 0px !important;
}

div.image > span + em,
div.image > img + em,
div.image > a + em {
  line-height: 1.4;
  margin: 0 auto;
  margin-top: 10px;
  color: var(--caption);
  font-size: 12px;
  display: block;
}

pre {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

#projects li > a:first-child {
  font-weight: bold;
  font-size: 1.2em;
}

.container > .archiveGroupHeader:first-child {
  margin-top: 0;
}

.archiveGroupHeader {
  font-weight: 600;
  font-size: 2.5em;
  margin: 0.75em;
  margin-top: 1.5em;
}

.blogPostTitle {
  font-size: 2.5em;
  margin: 2em;
  margin-top: 0;
  text-align: center;
}

/* Copied from typography */
a.gatsby-resp-image-link {
  box-shadow: "none";
}
a.anchor {
  box-shadow: "none";
}

a.anchor svg[aria-hidden="true"] {
  stroke: "var(--textLink)";
}
hr {
  background: "var(--hr)";
}

.container > div > ol,
.container > div > ul,
.blogPostTitle ~ div > ol,
.blogPostTitle ~ div > ul {
  text-align: left;
}

.gatsby-highlight {
  text-align: left;
}

.SignupForm {
  display: flex;
  flex-direction: column;
  background: #f2f2f2;
  color: #2a2a2a;
  padding: 2rem;
}
.SignupForm h2 {
  margin-top: 0;
  margin-bottom: 1rem;
}
.SignupForm .Wrapper {
  display: flex;
  flex-direction: row;
  overflow: hidden;
}
.SignupForm input {
  color: #2a2a2a;
  width: 75%;
  border: none;
}
.SignupForm button,
.SignupForm input {
  padding: 1rem 1.5rem;
}
.SignupForm button {
  display: inline-block;
  border: none;
  background-image: none;
  background-color: rgb(0, 122, 204);
  color: white;
  letter-spacing: 1px;
  transition: all 0.1s linear;
}
.SignupForm button:hover {
  cursor: pointer;
  background: #920303;
}

.container > section:last-of-type {
  margin-bottom: 2.5em;
}

.photo--scroll {
  display: flex;
  gap: 1em;
  flex-wrap: nowrap;
  overflow: auto;
  align-items: center;
}

.photo--scroll > a {
  flex-shrink: 0;
}

.photo--scroll > a > img {
  height: 200px;
}

.photo__container {
  /* display: flex;
  gap: 1em;
  flex-wrap: nowrap;
  overflow: auto;
  align-items: center; */
}

.photo__container > figure {
  margin: 1em 0 3em;
}

.photo__container > figure > a {
  width: fit-content;
  display: block;
  margin: auto;
}

.notes--list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.notes--list .note--item {
  border-bottom: 1px solid var(--color-border);
  padding-bottom: 3em;
  margin-top: 3em;
}

.note--date {
  color: grey;
  font-size: 0.75em;
  margin-bottom: 0.5em;
}

.note--target {
  display: inline;
}

.note--item .note--target {
  display: none;
}

.note--item:target .note--target {
  display: inline;
}

.note--target::before {
  font: 70% sans-serif;
  content: "►";
  color: var(--color-secondary);
  margin-right: 0.25em;
}
