---
layout: layouts/base.njk
---

<time class="text-sm text-zinc-500 dark:text-zinc-400" datetime="{{ date | htmlDateString }}">{{ date | fromISO }}</time>
<article class="mt-6 leading-7">{{ content | safe }}</article>
