---
title: Links
layout: layouts/base.njk
permalink: /links/
---
<ul class="pl-0 space-y-6 list-none">
  {% for item in links.items | sort(attribute='date') | reverse %}
    <li>
      <time class="font-mono text-sm text-stone-400 dark:text-stone-500 tracking-wide" datetime="{{ item.date | dateToISO }}">{{ item.date | fromISO }}</time>
      <div><a href="{{ item.link }}">{{ item.title }}</a></div>
      <p class="text-sm mt-1 text-stone-500 dark:text-stone-400">{{ item.notes | safe }}</p>
    </li>
  {% endfor %}
</ul>
