---
title: Now
layout: layouts/base.njk
permalink: /now/
---

<p>Inspired by the <a href="https://nownownow.com/about">/now page movement</a>. The purpose of this page is to share what I'm currently focused on.</p>

<h2>About me</h2>
<p>I'm a software engineer. I love building resilient systems that delight people. I think a lot about design, intuitive systems and cognitive biases.</p>

<h2>What am I up to right now?</h2>
<ul>
  <li>Working as an engineering leader.</li>
  <li>Building side projects &mdash; see the <a href="/">homepage</a> for details.</li>
  <li>Writing about things that interest me, personally and professionally.</li>
</ul>

<h2>What are my interests?</h2>
<ul>
  <li>Reading</li>
  <li>Fitness</li>
  <li>Online Privacy</li>
  <li>Open source and self-hosted software</li>
  <li>Travel</li>
  <li>Building micro-saas products</li>
</ul>

<h2>My blog is my brain</h2>
<blockquote>I believe that reading and writing are the most nourishing forms of meditation anyone has so far found. - Kurt Vonnegut</blockquote>
<p>I strongly resonate with Vonnegut's thoughts on writing. I believe that writing about a topic is powerful tool for learning. So, this blog is a record of things I have learned or been thinking deeply about. Largely, I write for myself. Although I love the idea that other people read my writing, the words are meant to capture my mind at a certain point in time. I can then travel back in time by reviewing the archive of this page.</p>

<p class="text-sm text-stone-400 dark:text-stone-500">Last Updated April 2026</p>
