---
title: Now
layout: layouts/base.njk
permalink: /now/
---

<p>Inspired by the <a href="https://nownownow.com/about">/now page movement</a>. The purpose of this page is to share what I'm currently focused on.</p>

<h2>About me</h2>
<p>Hi! My name is Josh. I am a software engineer and solutions architect. I love building resilient systems that delight people. I think a lot about design, intuitive systems and cognitive biases. I talk a lot about how to build successful software teams who deliver quality product quickly.</p>

<h2>What am I up to right now?</h2>
<ul>
  <li>Currently Engineering Manager at [BPP](https://bpp.com).</li>
  <li>I'm building <a href="https://planpacer.com">PlanPacer</a>, the easiest way to add Stripe payment plans to your app.</li>
  <li>I'm building <a href="https://repowarden.dev">Repowarden</a>, AI-powered repository maintenance that ships clean pull requests.</li>
  <li>I have another project that I maintain <a href="https://loginllama.app">LoginLlama</a> - a suspicious login detection platform.</li>
  <li>I'm actively blogging about things that interest me, personally and professionally.</li>
</ul>

<h2>What are my interests?</h2>
<ul>
  <li>Reading</li>
  <li>Weightlifting</li>
  <li>Online Privacy</li>
  <li>Open source and self-hosted software</li>
  <li>Backpacking</li>
  <li>Building micro-saas products</li>
</ul>

<h2>What tech am I using?</h2>
<ul>
  <li>Editor: Neovim with NvChad</li>
  <li>Terminal: iTerm2</li>
  <li>Theme: Catppuccin</li>
  <li>Stack: NodeJS + Typescript and Terraform (on AWS) are my bread and butter. But have worked commercially with Python, PHP and Rust as well as most major cloud providers.</li>
  <li>You can find the setup for my machines (which are standardized) <a href="https://github.com/joshghent/dotfiles">here</a></li>
</ul>

<h2>My blog is my brain</h2>
<blockquote>I believe that reading and writing are the most nourishing forms of meditation anyone has so far found. - Kurt Vonnegut</blockquote>
<p>I strongly resonate with Vonnegut's thoughts on writing. I believe that writing about a topic is powerful tool for learning. So, this blog is a record of things I have learned or been thinking deeply about. Largely, I write for myself. Although I love the idea that other people read my writing, the words are meant to capture my mind at a certain point in time. I can then travel back in time by reviewing the archive of this page.</p>

<p class="text-sm text-zinc-500 dark:text-zinc-400">Last Updated 28th February 2026</p>
