---
title: Now
layout: layouts/base.njk
permalink: /now/
eleventyNavigation:
  key: now
  order: 3
---

<div class="prose">
  <p>Inspired by the <a href="https://nownownow.com/about">/now page movement</a>. The purpose of this page is to share what I&apos;m currently focused on.</p>

  <h2>About me</h2>
  <p>Hi! My name is Josh. I am a software engineer and solutions architect. I love building resilient systems that delight people. I think a lot about design, intuitive systems and cognative biases. I talk a lot about how to build successful software teams who deliver quality product quickly.</p>

  <h2>What am I up to?</h2>
  <ul>
    <li>Having fun adventures in and around our home with my wife and dog, <a href="https://joshghent.com/images/wetbeard.jpeg">Millie</a>.</li>
    <li>Focusing on creating rather than consuming. Writing and building products.</li>
    <li>Building habits that will help me achieve my goals.</li>
    <li>Continuing to simplify.</li>
    <li>Learning GoLang</li>
  </ul>

  <hr className="section-break" />

  <h2>What are my interests?</h2>
  <ul>
    <li>Reading - particularly about neurology, history, and space.</li>
    <li>Exercising - mainly lifting and running.</li>
    <li>Open source software</li>
    <li>Backpacking</li>
    <li>Building micro-saas products</li>
  </ul>

  <hr className="section-break" />

  <h2>What tech am I using?</h2>
  <ul>
    <li>Laptop: Macbook Pro M1 2021</li>
    <li>Phone: iPhone 14 Pro Max</li>
    <li>Stack: Although I try any technologies, I mostly use NodeJS and React</li>
    <li>You can find the setup for my machines (which are standardized) <a href="https://github.com/joshghent/dotfiles">here</a></li>
  </ul>

  <hr className="section-break" />

  <h2>My blog is my brain</h2>
  <blockquote>I believe that reading and writing are the most nourishing forms of meditation anyone has so far found. - Kurt Vonnegut</blockquote>
  <p>I strongly resonate with Vonneguts thoughts on writing. I believe that writing about a topic is powerful tool for learning. So, this blog is a record of things I have learned or been thinking deeply about. Largely, I write for myself. Although I love the idea that other people read my writing, the words are meant to capture my mind at a certain point in time. I can then travel back in time by reviewing the archive of this page.</p>

  <p>Last Updated 20th December 2023, from Walsall, UK</p>
</div>
