---
title: Projects
layout: layouts/base.njk
permalink: /projects/
eleventyNavigation:
  key: Projects
  order: 1
---

{% for project in projects.items %}
  <h2>{{ project.title }}</h2>
  <p>{{ project.description }}</p>
{% endfor %}
