---
title: Projects and Work History
layout: layouts/base.njk
permalink: /projects/
eleventyNavigation:
  key: Projects
  order: 1
---

<div class="prose dark:prose-invert">
{% for project in projects.items %}
  <a href="{{ project.url }}"><h2>{{ project.title }}</h2></a>
  <p>{{ project.description }}</p>
  {% for tech in project.technologies %}
    <span class="inline-flex items-center rounded-md bg-blue-50 px-2 py-1 text-xs font-medium text-blue-700 ring-1 ring-inset ring-blue-700/10">{{ tech }}</span>
  {% endfor %}
{% endfor %}
</div>
