---
title: Developer Musings
layout: layouts/base.njk
eleventyNavigation:
  key: Home
  order: 0
---

<div class="space-y-8">
  <div>
    <p>
      Hey, my name is <strong>Josh</strong>
      I’m a software engineer and solutions architect
      based in then UK, who loves to build <a href="/whimsical-software">whimsical software</a> with robust, sustainable architectures.
      Currently I’m building <a href="https://loginllama.app">LoginLlama 🦙</a> a suspicious login detection API.
    </p>
  </div>
</div>
