---
layout: layouts/base.njk
---

<div class="w-full max-w-none grid grid-cols-1 md:grid-cols-3 gap-8">
  {# Column 1: Intro + Contact Links #}
  <div class="prose dark:prose-invert">
    <div class="mb-8">
      <h1>❖ Josh Ghent</h1>
      <p class="font-mono">
        software eng. building things on the internet. currently creating a malware protection platform for cloud storage.
      </p>
    </div>

    <div>
      <h2>around the web</h2>
      <ul class="pl-0 space-y-2 list-none">
        {% for item in contact.items %}
          <li class="font-mono">
            <a href="{{ item.link }}" class="underline">
              {{ item.name }}<span class="inline-block ml-1 underline">↗</span>
            </a>
          </li>
        {% endfor %}
      </ul>
    </div>
    <div>
      <h2>recent writing</h2>
      {% set postslist = collections.posts | sort(attribute='date') | reverse | limit(5) %}
      {% include "components/postslist.njk" %}
    </div>
  </div>

  {# Column 2: Current Work #}
  <div class="prose dark:prose-invert">
    <h2>currently</h2>
    {% from "components/workingon.njk" import workingList %}
    {{ workingList(workingon.current) }}
  </div>

  {# Column 3: Past Work #}
  <div class="prose dark:prose-invert">
    <h2>previously</h2>
    {{ workingList(workingon.past) }}
  </div>
</div>
