---
pagination:
  data: collections.posts
  size: 1
  alias: post
permalink: "social/{{ post.url }}/"
---

<html>
  <head>
    <link href="https://fonts.bunny.net/css?family=fira-code:300,400,500,600,700" rel="stylesheet">
    <style>
      body {
        background-color: #05b6ff;
        color: #fff;
        display: block;
        margin: 0;
      }

      .title {
        font-family: 'Fira Code';
        font-size: 6em;
        max-width: 1000px;
        max-height: 560px;
        padding-left: 20px;
        margin-left: 100px;
      }

      .box {
        width: 1200px;
        height: 630px;
        position: relative;
      }

      .avatar {
        border-radius: 150px;
        width: 300px;
        height: 300px;
        object-fit: cover;
        object-position: 90% 50%;
        position: absolute;
        bottom: 0;
        right: 0;
        margin: 0 50px 10px;
      }

      .url {
        font-family: 'Fira Code';
        padding-left: 20px;
        position: absolute;
        bottom: 0;
        left: 0;
        font-size: 3em;
        margin: 0 0 10px 100px;
      }
    </style>

  </head>
  <body>
    <div class="box">
      <h2 class="title">{{ post.data.title }}</h2>
      <img class="avatar" src="https://joshghent.com/images/icon.png" alt="Josh Ghent">
      <p class="url">JoshGhent.com</p>
    </div>
  </body>

</html>
